<table class="table table-condensed">
	<thead>
		<tr>
			<td>Reddits under <span>{{this.sub}}</span></td>
		</tr>
	</thead>
	<tbody>
		{{#each reddits}}
		<tr>
			<td>{{title}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{outlet}}
